.attribution {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 2.5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1,
.mentor {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
}

h1 {
  margin-top: 1.5rem;
  font-size: 20px;
  color: black;
}

.mentor {
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: light;
  color: hsl(211, 15%, 70%);
}

.Qr-image {
  width: 100%;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 5%;
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 300px;
}

.Qr-image:hover {
  animation: shake 0.5s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
